body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.navbar{
    font-size: 26px;
}

.jumbotron {
    background-color:#3e3e3e;
    margin-top: -70px;
}

.jumbotron h1 {
    color: whitesmoke;
}

/*Navigation Bar */
.navbar {
    position: relative;
    margin-top: -85px;
    background-color:#3e3e3e;
}

.nav-item, #navbardrop {
    position: relative;
    text-align: center;
    color: white;
}

a:hover {
    color: black;
}

.container-sm{
    padding: 30px;
    background-color: whitesmoke;
    position: relative;
    top: 50px;
}

.container-sm p{
    text-align: justify;
}

/*Footer Section */
footer {
    background-color: #3e3e3e;
    position: relative;
    bottom: -600px;
    text-align: center;
    padding: 10px;
}

.fa {
    color: white;
    padding: 10px;
    margin: 5px;
}