body{
    background: #e35869;
}

.container-sm{
    border: solid 1px;
    background: #fff;
}

.container-sm h1{
    text-align: center;
    padding-bottom: 10px;
}

.container-sm button{
    background-color: #3e3e3e;
    color: white;
    width: 210px;
}

#login-form{
    width: 500px;
    height: 280px;
    margin: 65px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
}