body {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.jumbotron {
    background-color:#3e3e3e;
    margin: -70px;
}

.jumbotron h1 {
    color: whitesmoke;
}

/*Navigation Bar */
.navbar {
    position: relative;
    margin: -85px;
    background-color:#3e3e3e;
}

.nav-item, #navbardrop {
    position: relative;
    text-align: center;
    color: white;
}

a:hover {
    color: black;
}

#promotion-box{
    position: relative;
    top: 200px;
}


/*Footer Section */
footer {
    background-color: #3e3e3e;
    position: relative;
    bottom: -420px;
    text-align: center;
}

.fa {
    color: white;
    padding: 10px;
    margin: 5px;
}